{% block content %}
<div class="event-list-container">
    <h2>Events for {{ event.park_title }}</h2>
    {% for event in events %}
    <div class="event">
        <h3><a href="{% url 'event_details' event.id %}" style="color: #228B22;">{{ event.title }}</a></h3>
        <p>Date: {{ event.date }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block extra_css %}
<style>

body {
    background-color: #0B6623; 
}

.event-list-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
}

.event {
    margin-bottom: 20px;
}

a {
    color: #228B22; 
}

a:hover {
    color: #1c7a1c; 
}
</style>
{% endblock %}
