

{% block content %}
<div class="itinerary-container">
    <h1>{{ itinerary.title }}</h1>
    <div class="days-container">
        {% for day, events in days_events %}
            <div class="day-column">
                <h2>Day {{ forloop.counter }}</h2>
                {% for event in events %}
                    <div class="event-card">
                        <h3>{{ event.title }}</h3>
                        <p>{{ event.time|time:"TIME_FORMAT" }} - {{ event.date|date:"DATE_FORMAT" }}</p>
                        <p>Location: {{ event.location }}</p>
                        <a href="{% url 'edit_event' event.id %}" class="edit-button">Edit</a>
                        <form method="post" action="{% url 'delete_event' event.id %}">
                            {% csrf_token %}
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_css %}
<style>
.itinerary-container {
    text-align: center;
}

.days-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px; /* Adjust the space between columns */
}

.day-column {
    background-color: #e9f5e9; /* Light green background */
    padding: 20px;
    border-radius: 20px;
    align-items: flex-start;
    align-self: stretch;
}

.event-card {
    background-color: #f7f7f7; /* Light grey background */
    border: 1px solid #ddd; /* Light grey border */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
     /* Adjust the height as needed */
}

.edit-button, .delete-button {
    background-color: #dc3545; /* Bootstrap 'danger' red */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    text-decoration: none;
    display: inline-block;
}

.delete-button {
    background-color: #dc3545; /* Keeps the button red */
    cursor: pointer;
}
/* Add more styling as needed */
</style>
{% endblock %}
