

{% block content %}
<div class="main-content">
    <p>You have no Itineraries yet.</p>
    <a href="{% url 'create_itinerary' %}" class="create-itinerary-button">
        <span class="plus-icon">+</span> Create Itinerary
    </a>

</div>
{% endblock %}

{% block extra_css %}
<style>
.main-content {
    text-align: center;
    /* Add any additional styling you need for this container */
}

.create-itinerary-button {
    background-color: #228B22; /* Adjust the color to match your design */
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; /* In case you want to use an <a> element */
    display: inline-block; /* Centers the button in the text */
}

.create-itinerary-button .plus-icon {
    font-size: 24px; /* Larger font size for the plus icon */
    display: inline-block;
    margin-right: 5px;
}

.create-itinerary-button:hover {
    background-color: #1c7a1c; /* A slightly darker forest green for hover state */
}

/* Rest of the styles */
</style>
{% endblock %}
