{% block content %}
<div class="main-content">
    <p class="no-itineraries-message">You have no itineraries yet.</p>
    <a href="{% url 'create_itinerary' %}" class="create-itinerary-button">
        <span class="plus-icon">+</span> Create Itinerary
    </a>
</div>
{% endblock %}

{% block extra_css %}
<style>
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #228B22; 
}

.main-content {
    text-align: center;
}

.no-itineraries-message {
    font-size: 36px; 
    margin-bottom: 20px; 
}

.create-itinerary-button {
    background-color: #1c7a1c; 
    color: white;
    padding: 15px 30px; 
    margin: 10px 0;
    border: 2px solid #145214; 
    border-radius: 10px; 
    font-size: 24px; 
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s; 
}

.create-itinerary-button .plus-icon {
    font-size: 36px; 
    display: inline-block;
    margin-right: 10px; 
}

.create-itinerary-button:hover {
    background-color: #145214; 
}


</style>
{% endblock %}
