{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" >
</head>
<body>
    <div class="login-container">
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <button type="submit">Register</button>
            </div>
            <p>Already have an account? <a href="/login">Login here</a>.</p>
        </form>
    </div>
</body>
</html>
